<div class="site-title">
  DeveloperSwag
  <br />
  <div class="site-subtitle">
      Curated list of swag opportunites for developers. Crowdsourced, by developers, for developers. 
  </div>
</div>
<div class="container">
  <ngx-masonry class="grid" data-masonry='{ "itemSelector": ".card" , "horizontalOrder": true}'>
    <ngxMasonryItem class="masonry-item" *ngFor="let item of swagItems">
      <div class="card">
        <div class="title">
          {{item.name}}
        </div>
        <div class="img-container">
          <img class="image" [src]="item.image" />
        </div>
        <div [innerHTML]="item.description" class="desc">
        </div>
        <a [href]="item.reference" class="reference">
          Check it out >
        </a>
        <div class="footer">
          <div class="label">
            <span>100</span>
            <span class="sublabel">
              Upvotes
            </span>
          </div>
          <div class="label">
            <span>{{item.difficulty}}</span>
            <span class="sublabel">
              Difficulty
            </span>
          </div>
          <div class="label">
            <span>100</span>
            <span class="sublabel">
              Received
            </span>
          </div>
        </div>
      </div>
    </ngxMasonryItem>
  </ngx-masonry>
</div>