<div class="site-title">
  DeveloperSwag
  <br />
  <div class="site-subtitle">
    Curated list of swag opportunites for developers. Crowdsourced, by developers, for developers. 🎁
    <br />
    <a style="font-size: 0.8em" href="https://www.github.com/preethamvishy/dev-swag" target="_blank">Contribute</a>
    <br />
    <span style="font-size: 0.5em">Made with ❤️ by <a href="https://www.github.com/preethamvishy" target="_blank">Preetham</a>.</span>
  </div>
</div>
<div class="container">
  <ngx-masonry class="grid" data-masonry='{ "itemSelector": ".card" , "horizontalOrder": true}'>
    <ngxMasonryItem class="masonry-item" *ngFor="let item of swagItems">
      <div class="card">
        <div class="title">
          {{item.name}}
        </div>
        <div class="img-container">
          <img class="image" [src]="item.image" />
        </div>
        <div [innerHTML]="item.description" class="desc">
        </div>
        <a [href]="item.reference" class="reference" target="_blank">
          Check it out >
        </a>
        <div class="footer">
          <div class="label1" (click)="upvote(item.name)">
            <span>{{stats[item.name].upvotes}}</span>
            <br />
            <span class="sublabel" >
              Upvotes
            </span>
          </div>
          <div class="label2">
            <span>{{item.difficulty}}</span>
            <br />
            <span class="sublabel">
              Difficulty
            </span>
          </div>
          <div class="label3" (click)="receive(item.name)">
            <span>{{stats[item.name].received}}</span>
            <br />
            <span class="sublabel">
              Received
            </span>
          </div>
        </div>
      </div>
    </ngxMasonryItem>
  </ngx-masonry>
</div>