@import url('https://fonts.googleapis.com/css?family=Lato|Amatic+SC|Quattrocento+Sans');
.site-title {
  font-family: 'Amatic SC', sans-serif;
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-size: 4em;
  .site-subtitle {
    font-family: 'Lato', sans-serif;  
    font-size: 0.3em;
    font-weight: 1;
  }
}
.container {
  margin-top: 4em;
  margin-left: 5vw;
  font-family: 'Quattrocento Sans', sans-serif;
}

.masonry-item {
  min-height: 300px;
  .card::after {
    content: '';
  }
  
  .card {
      width: 350px;
      margin: 5px;
      margin-right: 1em;
      margin-bottom: 1em;
      background: white;
      // border-radius: 4px;
      // box-shadow: 0 5px 10px rgba(black, 0.2);
      -webkit-box-shadow: 6px 7px 77px -25px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 7px 77px -25px rgba(0,0,0,0.75);
      box-shadow: 6px 7px 77px -25px rgba(0,0,0,0.75);
      .img-container {
        min-height: 200px;
        .image {
          width: 350px;
          padding-bottom: 0.5em;
        }
      }
    
    
    .title {
        font-size: 1.8em;
        font: bold;
        color: white;
        margin-bottom: 0.5em;
        padding-left: 0.5em; 
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        // background-color: rgb(91, 163, 223); 
        // background-color: #8BC6EC;
        // background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
    }
    .desc {
        padding: 1em;
        margin-bottom: 1px;
    }
    .reference {
      padding: 1em;
      margin-top: 10px;
    }
    // .footer {
    //   height: 2.6em;
    //   margin-top: 1em;
    //   display: flex;
    //   flex-direction: row;
    //   flex-wrap: nowrap;
    //   justify-content: space-between;
    //   background: #F3F3F3;
    //   padding: 15px 40px;
    //   color:gray;
    //   text-align: center;
        
    //   .label {
    //     display: block;
    //     margin: 4px 0 0;
    //     color: gray;
    //     cursor: pointer;
        
    //     .sublabel {
    //       display: block;
    //       font-size: 10px;
    //     }
    //     &:hover {
    
    //     }
    //   }
    .footer:after {
      content: '';
    }
    .footer {
      height: 2.6em;
      margin-top: 1em;
      background: #F3F3F3;
      padding: 15px 40px;
      color:gray;
      display:flex;
      // justify-content:center;
      
      .label1, .label2 {
        width: 33.33%;
        color: gray;
        cursor: pointer;
        text-align: center;
        
        .sublabel {
          font-size: 10px;
        }
      }
      .label3 {
        width: 33.33%;
        color: gray;
        cursor: pointer;
        text-align: center;
        
        .sublabel {
          font-size: 10px;
        }
      }
      
    }
    
  }
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: green;
}

a:active {
  color: green;
} 

.site-footer {
  padding: 1em;
  width: 100%;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
}